google-api-python-client
google-auth-httplib2
google-auth-oauthlib
faiss-cpu
fastapi
fastapi-authlib
fastapi-sa
langchain
langchain-google-genai
langchain-google-vertexai
langchainhub
langsmith
PyJWT
passlib[bcrypt]
python-jose[cryptography]
pylance
PyMySQL
SQLAlchemy
uvicorn
