aiohttp
aiomysql
aiosignal
alembic
annotated-types
anyio
appdirs
asgiref
attrs
Authlib
backoff
bcrypt
beautifulsoup4
Brotli
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
contextlib2
cryptography
dataclasses-json
decorator
Deprecated
deprecation
distro
dnspython
docstring-parser
dynaconf
ecdsa
email_validator

faiss-cpu
fastapi
fastapi-authlib
fastapi-sa
filelock
flatbuffers
frozendict
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
gptcache
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib_resources
inflection
iniconfig
instructor
itsdangerous
Jinja2
jsonpatch
jsonpointer
kubernetes
lancedb
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-google-vertexai
langchain-openai
langchain-text-splitters
langchain-together
langchainhub
langsmith
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
multitasking
mutagen
mypy-extensions
nodeenv
numexpr
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
pandas
passlib
peewee
pluggy
posthog
proto-plus
protobuf
pulsar-client
py
pyarrow
pyasn1
pyasn1_modules
pycparser
pycryptodomex
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
PyGithub
Pygments
PyJWT

pylance
PyMySQL
PyNaCl
pyparsing
pypdf
PyPika
pyproject_hooks
pyreadline3
pyright
pysbd
PySocks
pytest
python-dateutil
python-dotenv
python-jose
python-multipart
pytube
pytz
PyYAML
ratelimiter
redis
regex
requests
requests-oauthlib
retry
rich
rsa
schema
selenium
semver
shapely
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sseclient-py
starlette
sympy
tabulate
tenacity
tiktoken
together
tokenizers
tqdm
trio
trio-websocket
typer
types-protobuf
types-requests
typing-inspect
typing_extensions
tzdata
ujson
uritemplate
urllib3
uvicorn
watchfiles
webencodings
websocket-client
websockets
wrapt
wsproto
yarl
yfinance
youtube-transcript-api
yt-dlp
zipp